html,
body {
  background-color: #f8f7f7;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}

.header {
  z-index: 999;
  width: 100%;
  max-width: 100vw; /* Limita a largura máxima à largura da tela */
  height: 9vh;
  position: fixed;
  top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 1.5em;
  box-sizing: border-box; /* Inclui padding na largura total */
  top: 0;
}

.logo {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #2c3c20;
}

.subscribe-button {
  border-radius: 1.8em;
  border: none;
  padding: 0.9em 1.5em;
  background-color: #2c3c20;
  color: #f8f7f7;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  position: fixed;
  width: 100%;
  height: 5vh;
  top: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  background-color: white;
  z-index: 998;
}

.menu a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

main {
  margin-top: 19vh; /* Espaço para o top-bar, header e menu */
  padding: 1em;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 1em;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  border-radius: 8px;
  position: relative; /* Necessário para que a imagem seja posicionada corretamente */
  overflow: hidden; /* Isso garante que a imagem não ultrapasse os limites da máscara */
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra toda a área do contêiner */
  clip-path: inset(0 round 8px); /* Máscara arredondada com bordas */
}

.main-content .content-box {
  max-width: 800px;
  margin: 2em auto;
}

.small-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
}

.small-news a {
  text-decoration: none;
}
.small-news p {
  color: black;
}
.main-content a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 1em;
  text-decoration: none;
}

footer {
  background-color: #2c3c20;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 1em 0;
}

/* Estilo para a notícia principal com imagem e texto lado a lado 
.horizontal-layout {
  display: flex;
  align-items: center;
  gap: 1em; /* Espaço entre a imagem e o texto */
  max-width: 900px;
  margin: 2em auto;
}

.horizontal-layout .image-placeholder {
  width: 50%; /* Define a largura da imagem */
  height: 400px;
  background-color: #ccc;
  border-radius: 8px;
}

.horizontal-layout .text {
  width: 50%; /* Define a largura do texto */
}

.text-title {
  font-size: 1.9rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-top: 1em;
}

.text p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

/* Outras seções e estilos de layout de notícias */
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 1em;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  border-radius: 8px;
}

.main-content .content-box {
  max-width: 800px;
  margin: 2em auto;
}

/* Grid para notícias pequenas */
.small-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
}

@media (max-width: 768px) {
  .horizontal-layout {
    flex-direction: column; /* Em telas menores, exibe a imagem em cima do texto */
  }

  .header {
    padding: 0 1em;
  }

  .small-news {
    grid-template-columns: 1fr;
  }
}

.principal { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background: linear-gradient(to right, rgba(44, 60, 32, 0.8), 
  rgba(44, 60, 32, 0.8)), #000; 
  padding: 50px; text-align: 
  left; background-position: 
  left center; /* Posição inicial do fundo */ 
  background-size: 200%; transition: 
  background-position 0.5s ease-in-out; /* Animação de movimento do fundo */ 
  width: 100%;
  max-width: 100vw; /* Limita a largura máxima à largura da tela */
  height: 70vh;
  top: 40vh;

} 
.principal-content { 
  max-width: 50%; 
  color:white;
  font-family: 'Poppins', sans-serif;

} .principal-image img { 
  max-width: 100%; 
  border-radius: 10px
}